<div class="page-container">
    <div class="sidebar" ui-view="side"></div>
    <div class="main-container">
        <header class="header"></header>
        <div ui-view="main" class="page-content"></div>
        <footer class="footer">
            <div class="pull-left">
                <span id="copy">2016-<script>document.write(new Date().getFullYear())</script></span> © <a class="text-primary" href="https://github.com/topchenxi/myAngular" target="_blank">angular demo v1.0</a>
            </div>
            <div class="pull-right">
                Crafted with by <a class="text-primary" href="https://github.com/topchenxi" target="_blank">c.c.</a>
            </div>
        </footer>
    </div>
</div>
